.scene
	%a{:class => "grid", :href => "http://packery.metafizzy.co/", :target => "_blank"}
		.grid-item.w1.h3.z1.r
		.grid-item.w1.h1.z2.o
		.grid-item.w2.h1.z3.y
		.grid-item.w1.h1.z4.g
		.grid-item.w1.h1.z5.c
		.grid-item.w1.h1.z6.b
		.grid-item.w2.h2.z9.r
		.grid-item.w1.h1.z7.y
		.grid-item.w1.h1.z8.g
		.grid-item.w1.h1.z10.g
		.grid-item.w3.h1.z11.link.bl Packery
		.grid-item.w2.h1.z12.o
		.grid-item.w1.h2.z15.c
		.grid-item.w1.h1.z13.y
		.grid-item.w1.h1.z14.b
